venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv
*.pt
*.pth
*.zip
*.bin
chroma_db/
chroma_db_inmates/
uploads/
.git/
.DS_Store
.dockerignore
Dockerfile
yolo11n.pt
best_new.pt
Training.zip
