flask
flask-sqlalchemy
flask-cors
ultralytics
opencv-python
langchain
langchain-google-genai
langchain-community
chromadb
pypdf
python-dotenv
langchain-text-splitters
pydantic
langchain-google-genai 
langchain-chroma 
google-generativeai
langchain_huggingface
langchain_openai
sentence-transformers
librosa